@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800,900');

li {
	list-style-type: none;
	font-family: 'Poppins', sans-serif;
	background: #99ff99;
	margin: 10px 0;
	padding: 5px;
	font-style: normal;
}
.btn {
	background-color: #006600;
	color: #FFF;
	margin: 10px 10px;
	font-size: 14px;
	border: none;
	border-radius: 3px;
	padding: 5px 8px;
	font-weight: 700;
	cursor: pointer;
}
.btn:hover {
	background-color: #1aff1a;
	text-shadow: 1px 1px #000;
	opacity: 0.8;
	cursor: pointer;
}
.votesCount {
	font-size: 18px;
	font-weight: 700;
	padding: 5px;
}


