@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800,900');

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #003300;
  font-family: 'Poppins', sans-serif;
}
h1 {
	font-size: 25px;
	font-weight: 800;
	color: #FFF;
  margin-bottom: 100px;
  margin-top: 50px;
}
